@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400");

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #353535;
  font-size: 2em;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

a {
  color: #202020;
  text-decoration: none !important;
  transition: color 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #29ca8e;
  outline: none;
}

.section-title {
  padding-bottom: 40px;
}

section {
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.overlay {
  background: #536976;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.online-form {
  position: relative;
}

.online-form .form-control {
  border: 1px solid #f0f0f0;
  border-radius: 50px;
  box-shadow: none;
  height: 50px;
  margin-right: 0.5em;
  padding-left: 15px;
}

.online-form input[type="email"] {
  width: 60%;
}

.online-form button {
  background: #29ca8e;
  border: 0;
  color: #ffffff;
  width: 25%;
}

.online-form button:hover {
  background: #202020;
}

.section-btn {
  background: #29ca8e;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 30px;
  transition:
    background 0.5s,
    color 0.5s;
}

.section-btn:hover,
.section-btn:focus {
  background: #202020;
}

@media only screen and (max-width: 992px) {
  .custom-navbar .navbar-nav {
    margin-left: 0;
  }

  .custom-navbar .nav li a {
    font-size: 14px;
    padding: 8px 15px;
  }

  #feature .nav-tabs > li > a {
    font-size: 16px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .custom-navbar {
    text-align: center;
  }

  .custom-navbar .nav li a {
    line-height: normal;
    padding: 5px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #202020;
    font-weight: normal;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #656565;
  }
}
